<div class="admin-container">
  <div class="row justify-content-md-center">
    {{!-- 插入左邊頁 --}}
    <div class="main col-9">   
      <div class="admin-users-head">
        <h4>使用者列表</h4>
        
      </div>

      <div class="hr-line"></div>
      
      <div class="row">
        
        {{!-- {{#each users}} --}}
        <div class="card mx-1 my-2">
          <div class="card-top">
            <img class="card-cover"
              src="https://media.istockphoto.com/photos/beautiful-sky-with-white-clouds-picture-id182412483?b=1&k=20&m=182412483&s=612x612&w=0&h=rP2i77z5CxtQ4rK0qkN_TqNlm3aMwzP4XNsg5KVN-4I="
              alt="card-cover">
          </div>
          <div class="card-middle">
            <div class="card-avatar-part">
              <img class="card-avatar" src="https://i02piccdn.sogoucdn.com/75af42a6664f155b" alt="card-avatar">
            </div>
            <div class="">
              <p class="card-name">埼玉</p>
              <p class="card-account">@yahoo</p>
            </div>
          </div>
          <div class="card-bottom">
            <div class="card-tweet-like">
              <div class="card-tweet">
                <div><img class="card-icon" src="/images/icons/feather.png" alt="" style="height:20px"></div>
                <div class="card-num">15k</div>
              </div>
              <div class="card-like">
                <div><img class="card-icon" src="/images/icons/like-w.png" alt="" style="height:20px"></div>
                <div class="card-num">20k</div>
              </div>
            </div>
            <div class="card-followship">
              <div class="card-following">32個跟隨中</div>
              <div class="card-follower">59位跟隨者</div>
            </div>
          </div>
        </div>
        {{!-- {{/each}} --}}
    
      
      </div>
    </div>
  </div>
</div>