<div class="profile-header d-flex">
  <div class="d-flex m-2">
    <a href="">
      <h3 class="my-2 fw-normal">←</h3>
    </a>
    <div class="col ms-0 ps-2">
      <span class="fw-bold">崎玉</span><br />
      <small class="text-secondary">22 推文</small>
    </div>
  </div>
</div>


<div class="profile-body">
  <div class="row m-0 p-0">
    <div class="profile-cover" style="weight:639px; height: 200px; padding:0px">
      <img
        src="https://media.istockphoto.com/photos/beautiful-sky-with-white-clouds-picture-id182412483?b=1&k=20&m=182412483&s=612x612&w=0&h=rP2i77z5CxtQ4rK0qkN_TqNlm3aMwzP4XNsg5KVN-4I="
        alt="cover" style="height:100%;width:100%; object-fit:cover">
    </div>
    <div class="d-flex justify-content-between px-3 profile-avatar">
      <a href="">
        <img src="https://i02piccdn.sogoucdn.com/75af42a6664f155b"
          class="me-auto rounded-circle border border-white border-5" style="width:150px;height:150px">
      </a>

      <div class="d-flex align-items-end">
        <form action="" method="POST">
          <div class="bd-highlight">
            {{!-- <button type="submit" class="following-btn ms-1">
              正在跟隨
            </button> --}}
            <button type="submit" class="follow-btn ms-1">
              跟隨
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="name-account-container d-flex flex-column bd-highlight p-1 ms-3">
      <a href="">
        <div class="profile-name">崎玉</div>
      </a>
      <a href="">
        <div class="profile-account">@yahoo</div>
      </a>
    </div>
  </div>
  <div class="profile-follow col" style="max-width: 100%;">
    <p class="profile-intro mx-4">
      原為一個失業的普通上班族，在遇到怪人蟹爪蘭蒂並且打敗他救了孩子之後，決定成為英雄。
    </p>
    <div class="followship ms-2">
      <div class="card-following">
        <a href=" ">
          22 個跟隨中
        </a>
      </div>
      <div class="card-follower">
        <a href=" ">
          23 個跟隨者
        </a>
      </div>
    </div>
  </div>
</div>