@import 
url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

body {
  font-family: 'Noto Sans TC', sans-serif;
}

.ac-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-top: 69px;
  margin-bottom: 29px;
}

.title {
  width: 185px;
  height: 26px;
  margin: 0 auto;
  margin-bottom: 40px;
}

h3 {
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 26px;
color: #1C1C1C;
text-align: center;
}


.input-section {
  background: #F5F8FA;
  width: 356px;
  height: 54px;
  border-radius: 2px;
  margin-bottom: 32px;
  border-bottom: 2px solid #657786;
  margin: 0 auto;
  margin-bottom: 32px;
}

.label {
  color: #696974;
  background: #F5F8FA;
  font-size: 14px;
  width: 334.9px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin: 2px 10.55px 0 10.55px;
}

.input {
  color: #B5B5BE;
  background: #F5F8FA;
  font-size: 16px;
  width: 334.9px;
  border: none;
  border-bottom: 2px solid #657786;
  line-height: 26px;
  margin: 0 10.55px 0 10.55px;
}

input::placeholder {
  color: #B5B5BE;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

.login-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 22px;
  width: 356px;
  height: 46px;
  background: #FF6600;
  border-radius: 50px;
  border: none;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.footer {
  margin: 0 auto;
  width: 356px;
  font-size: 16px;
}

.dot {
  margin-left: 12px;
  margin-right: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.setting-container {
  width: 639px;
  height: 100vh;
  margin: 0 auto;
  border-left: 2px solid #E6ECF0;
  border-right: 2px solid #E6ECF0;
}

.setting-title {
  width: 639px;
  height: 74px;
  border-bottom: 2px solid #E6ECF0;
}

h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  padding-top: 24px;
  margin-left: 24px;
  margin-bottom: 24px;
}

.input-setting {
  background: #F5F8FA;
  width: 593px;
  height: 54px;
  border-radius: 2px;
  margin-bottom: 32px;
  border-bottom: 2px solid #657786;
  margin: 0 auto;
  margin-bottom: 32px;
}

.setting-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  margin-top: 40px;
  margin-left: 528px;
  width: 88px;
  height: 46px;
  background: #FF6600;
  border-radius: 50px;
  border: none;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.top {
  margin-top: 24px;
}

.popular-container {
  width: 273px;
  height: 731px;
  background: #FAFAFB;
  border-radius: 16px;
  margin-left: 997px;
  margin-top: 16px;
}

.popular-title {
  border-bottom: 1px solid #E6ECF0;
}

.popular-list-group li{
  border: none;
  background: #FAFAFB;
  padding: 0;
}

.user-icon {
  display: flex;
  background: #C4C4C4;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.list-group-item {
  margin:0px 16px 30px 16px;
  width: 241px;
  height: 50px;
}

.popular-name {
  height: 26px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #171725;
  margin-bottom: -3px;
}

.small-account {
  height: 22px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #92929D;
}

.following-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  width: 96px;
  height: 40px;
  background: #FF6600;
  border-radius: 50px;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 0;
  border: none;
}

.follow-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  width: 64px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #FF6600;
  border-radius: 50px;
  color: #FF6600;
  padding: 0;
}